
div{
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.home-pic{
    background-image: url(images/EagleCreek.jpg);
    min-height: 600px;
    /* Centering and positioning*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    position: relative;
}

.container{
    position: fixed;
    margin: 20px;
    width: auto;
}

.vertical-menu{
    overflow: hidden;
    background-color: linear-gradient(90deg,whitesmoke, red);
    border-radius: 8%;
    
}

.vertical-menu a{
    background-color: white;
    color: #000;
    float: left;
    text-align: center;
    display: block;
    padding: 12px;
    border-radius: 8%;
    text-decoration: none;
    font-size: 1rem;
}

.vertical-menu a:hover{
    background-color: #b0c1da;
    text-decoration: underline;
}
.vertical-menu a.active{
    background-color: #04AA6D;
    color: white;
}


.about-me{
    background-color: #548CA8;
}

.github{
    background-color: #476072;
}

.contact-me{
    background-color: #334258;
}
