
div{
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.home-video{
    background-size: cover;
    margin-top: 1px;
    max-width: 100%;
    max-height: 125%;
    border-radius: 8%;
}


.home-image{
    background: url(images/EagleCreek.jpg);
    max-height: 30%;
    z-index: -10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    position: relative;
}

.summary{
    top: 0%;
    color: #000;
    text-align: center;
}

.text{
    margin-left: 40px;
    text-indent: 2rem;
    text-align: left;
}
.vertical-menu{
    z-index: 1;
    top: 0%;
    right: 0%;
    overflow: hidden;
    border-radius: 0%; 
    position: fixed;
    border: #000;
}

.vertical-menu a{
    background-color: white;
    color: #000;
    float: left;
    text-align: center;
    display: block;
    padding: 12px;
    border-radius: 8%;
    text-decoration: none;
    font-size: 1rem;
}

.vertical-menu a:hover{
    background-color: #b0c1da;
    text-decoration: underline;
}
.vertical-menu a.active{
    background-color: #04AA6D;
    color: white;
}


.about-me{
    background-color: #548CA8;
}

.github{
    background-color: #476072;
}

.contact-me{
    background-color: #334258;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500% 500%;
    gap: 32px;
  }
  
  .card {
    background-color: peachpuff;
    border: 1px solid black;
  }